{% extends "main.html" %}
{% block body %}
<center>
    <h1>Log In</h1>
    <br />
        <form method="POST" action="/login">
                {{ form.csrf_token }}
                {{ form.next() or '' }}
            <div class="form-group">
                {{ form.user.label }}<br />
                {{ form.user() }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br />
                {{ form.password() }}
            </div>
                <div><input type=submit class="btn btn-primary btn-lg" value="Log In" /></div>
        </form>
    <br /> 
    <p>Or, if you don't have an account: <a href="{{ url_for('register') }}">Register</a></p>
</center>
{% endblock %}
