<!doctype html>
<html>
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
            div.content {
                margin-left: 1em;
                margin-right: 1em;
            }
            html {
		position: relative;
		min-height: 100%;
	    }
	    body {
		/* Margin bottom by footer height */
		margin-bottom: 60px;
	    }
	    .footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
		line-height: 60px; /* Vertically center the text there */
		background-color: #f5f5f5;
	    }
        </style>
        <title>Ipseity Interface{% if title %} - {{ title }}{% endif %}</title>
    </head>
    <body>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('root') }}">Ipseity</a>
		</div>
                {% if json_token %}
		<ul class="nav navbar-nav">
                    <li><a href="{{ url_for('refresh_token') }}">Generate Refresh Token</a></li>
		</ul>
		<ul class="nav navbar-nav">
                    <li><a href="{{ url_for('deauth_refresh_token') }}">Deauthenticate Refresh Token</a></li>
		</ul>
		<ul class="nav navbar-nav">
                    <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
		</ul>
		<ul class="nav navbar-nav">
                    <li><a href="{{ url_for('delete_me') }}">Delete Account</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
		</ul>
                {% else %}
		<ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('register') }}">Register</a></li>
		</ul>
                {% endif %}
	    </div>
        </nav>
    {% with messages = get_flashed_messages(with_categories=true, category_filter=["alert-danger", "alert-success", "alert-info", "alert-warning"]) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category}}">
		{{ message }}
	</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class='content'>
{% block body %}{% endblock %}
    </div>
    <footer class='footer'>
        <div class='container'>
            <center>
                <span class="text-muted">This interface is backed by an <a href="https://github.com/bnbalsamo/ipseity">ipseity</a> API{% if external_ipseity_url %} located <a href="{{ external_ipseity_url }}">here</a>{% endif %}.</span>
            </center>
        </div>
    </footer>
    </body>
</html>
