{% extends "main.html" %}
{% block body %}
<body>
    <b>Register</b>
    <form method="POST" action="/register">
        {{ form.csrf_token }}
        {{ form.next() or '' }}
        <div>{{ form.user.label }}: {{ form.user(class="css_class") }}</div>
        <div>{{ form.password.label }}: {{ form.password() }}</div>
        <div>{{ form.confirm.label }}: {{ form.confirm() }}</div>
        <div><input type=submit value=Submit /></div>
    </form>
    <p>Already have a username and password? <a href="{{ login_url }}">Login</a></p>
</body>
{% endblock %}
